body{
  background-color:aliceblue;
}
.mainPageJum {
  border-radius: 13px;
  text-align: center;
  background-color: lightskyblue;
  margin: 30px;
  color: black;
  padding: 13px;
}
.projectJum {
  /*
  background-image: url("/img/cal.jpg");
  background-size: cover;
  height: 100%;
  */
  border-radius: 13px;
  text-align: center;
  background-color: gainsboro;
  margin: 10px;
  color:black;
  padding: 13px;
}

#pic1, #pic2, #pic3, #pic4, #pic5, #pic6, #pic7, #pic8, #pic9, #pic10, #pic11, #pic12, #pic13, #pic14, #pic15, #pic16 {
  display: none;
}

.btn {
  display: block;
}

#picture {
  display:none;
}